*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
header{
    background-color: lightblue;
}
nav{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
h1, nav a{
    color: white;
    text-decoration: none;
}
.sanjose{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid black;
}
.week{
    width: 1000px;
    margin: 20px auto;
    display: flex;
    gap: 5%;
}
.day{
    flex: 1;
    background-color: lightgrey;
    text-align: center;
    padding: 20px 10px;
}
.day img{
    width: 100px;
    border-radius: 50%;
    margin: 20px 0;
}
.temperatures{
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
}
.maxTemp{
    color: red;
}
.minTemp{
    color: blue
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cookie{
    background-color: lightgray;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cookie .text{
    width: 50%;
}
